/*!
 * Hostwriter Prize
 *
 * Design by Andy Wilke
 * 
 */


/* ==========================================================================
   Global styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6, number, .btn, .lead, .lead-prize, .navbar-nav a, .form-control, .list-inline, .price, .features.last, .quote, small, .info-intro, #pricing {
  font-family: 'Adelle', sans-serif;
}

.price small, .features, .name, .info, .list-inline-social {
font-family: 'Inconsolata', monospace;
}


.lead-prize, .quote{
	font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-weight: 100;
    color: #012152;
}

.prize-link {
  color: #ff5722;
  line-height: 52px;
}

h1 {
  font-size: 64px;
  line-height: 68px;
  color: #ffffff;
  font-weight: 700;
}

h2 {
  font-size: 56px;
  line-height: 72px;
  letter-spacing: 0.02em;
  color: #012152;
  font-weight: 700;
    margin-top: 0px;
    margin-bottom: 24px;
}

h3 {
  font-size: 38px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #012152;
  font-weight: 700;
}

h4, .panel-title {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #012152;
}

.lead {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-weight: 100;
}

p {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  line-height: 22px;
  color: #012152;
  font-weight: 400;
}

number {
  font-size: 98px;
  letter-spacing: 0px;
  color: #ff5722;
  font-weight: 100;
}

label {
    color: #929496;
    font-size: 16px;
    text-align: left;
}

/*------------------Utilities---------------------*/
a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: #231f20;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -10%;
}

::selection {
	background: #231f20; /* Safari */
	color: #FFFFFF;
}
::-moz-selection {
	background: #231f20; /* Firefox */
	color: #FFFFFF;
}



/*------------------Buttons---------------------*/
.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline: none;
}

.btn {
  text-transform: uppercase;
  border: none;
}

.btn-lg {
  font-size: 13px;
  line-height: 1.33;
  padding: 22px 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-sm {
  font-size: 11px;
  line-height: 1.33;
  padding: 10px 18px;
  font-weight: 400;
}

.btn-wide {
  width: 100%;
  font-size: 13px;
  line-height: 1.33;
  padding: 18px 28px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-primary {
  background-color:#FF5722;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #FF5722;
  color: #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.btn-secondary {
  background-color: #ffffff;
  color: #231f20;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
  background-color: #ededed;
  color: #231f20;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.panel-default{
    border: none;
}

.panel, .panel-heading, .panel-heading, .panel-collapse, .panel-group
{
background-color: #fff;
border: none;
border-radius: 0px;
}

.panel-body {
    border: none;
}



/*-----------------Margins------------------*/
.margin-0 {
    margin-bottom: 0 !important;
}
.margin-10 {
    margin-bottom: 10px !important;
}
.margin-15 {
    margin-bottom: 15px !important;
}
.margin-20 {
    margin-bottom: 20px !important;
}
.margin-30 {
    margin-bottom: 30px !important;
}
.margin-40 {
    margin-bottom: 40px !important;
}
.margin-50 {
    margin-bottom: 50px !important;
}
.margin-60 {
    margin-bottom: 60px !important;
}
.margin-70 {
    margin-bottom: 70px !important;
}
.margin-80 {
    margin-bottom: 80px !important;
}
.margin-90 {
    margin-bottom: 90px !important;
}
.margin-100 {
    margin-bottom: 100px !important;
}


/*-----------------Colors------------------*/

.black {
  color: #231f20;
}

.blue {
  color: #ff5722;
}

.white {
  color: #ffffff;
}

.black-bg {
  background: #231f20;
}

.blue-bg {
  background: #ff5722;
}

.white-bg {
  background: #ffffff;
}

.purple-bg {
	background: #6d3f96;
}



/* ==========================================================================
   Nav Styles
   ========================================================================== */

.navbar {
    border: 0px solid rgba(0, 0, 0, 0);
    background: #012152;
    margin: auto;
    position: fixed;
    min-height: 82px;
    padding-top: 8px;
    top: -82px;
    transition: top 0.2s ease 0s;
}

.navbar.open {
    top: 0px;
    
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    opacity: 0.6;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #012152;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.logo img {
    margin-top: 0px;
}


/* ==========================================================================
   Main styles
   ========================================================================== */
header {
  background: url(../img/header-bg.jpg) no-repeat center center;
  width: 100%;
  padding: 20px 10px 60px 10px;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: 0px;
  margin-bottom: 12%;
}

.signin {
  padding-top: 9px;
}


.mouse-icon {
    border: 2px solid #fff;
    border-radius: 16px;
    display: block;
    height: 50px;
    margin: -100px auto 50px;
    position: relative;
    width: 30px;
    z-index: 10;
}
.mouse-icon .scroll {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: scrolling;
    animation-play-state: running;
    animation-timing-function: linear;
}
.mouse-icon .scroll {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 4px;
    width: 4px;
}
@keyframes scrolling {
0% {
    opacity: 0;
    top: 5px;
}
30% {
    opacity: 1;
    top: 10px;
}
100% {
    opacity: 0;
    top: 25px;
}
}

.pad-xl {
	padding: 20px 0px;
}

.pad-lg {
	padding: 20px 0px;
}

.pad-sm {
	padding: 20px 0px;
}

.pad-xs {
	padding: 10px 0px;
}

#submit {
  background: #f2f2f2;
}

#prize {
  background: #fff no-repeat center center fixed;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img prize {
    width: 200px;
}

hr.line {
	width: 100%;
	border: 2px solid;
}

.purple {
	border-color: #6d3f96;
	color: #6d3f96;
}

.blue {
	border-color: #ff5722;
	color: #ff5722;
}

.yellow {
	border-color: #fdc05d;
	color: #fdc05d;
}

.iphone {
    position: relative;
}

.iphone img {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 200px;
    max-width: 440px;
}

.fa-check-circle {
  color: #ff5722;
  font-size: 98px;
  display: block;
  padding-top: 10px;
  margin: auto;
}

.fa-check{
  color: #ff5722;
  font-size: 22px;
  padding-right: 10px;
}

.fa-twitter{
  color: #ff5722;
  font-size: 18px;
}

.fa-facebook{
  color: #ff5722;
  font-size: 16px;
}


.news-container {
  padding: 10px 0px 20px;
  border-bottom: 1px solid #efefef;
}

.news-img {
  padding-right: 10px;
  padding-bottom: 74px;
}

footer {
  background: #ffffff;
  padding: 40px 0px;
}

.social li a:hover {
  opacity: 0.5;
}

.errorMessages {
    color: #ff5722;
    text-align: left;
}



/*---------------Pricing Tables-------------------*/


#pricing {
  background: #ff5722;
}

.pricing-container {
  padding-left: 0px;
  padding-right: 0px;
}

.pricing-table {
  background: transparent;
  margin-bottom: 50px;
  margin-top: 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.pricing-table.active {
  box-shadow: 0px 0px 12px rgba(41,46,50,0.6); 
  position: absolute;
  margin: auto;
  z-index: 200;
}

.pricing-table:hover {
  margin-top: -10px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.pricing-table li {
  padding-left: 20px;
  padding-right: 20px;
}

.headline {
  background: #012152;
  color: #FFFFFF;
  padding: 10px;
}

.price {
    background: none repeat scroll 0 0 #012152;
    color: #fff;
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 20px;
}


.pricing-table:hover li.price  {
  background: #ff5722;
  -webkit-transition: all 0.85s ease-in-out;
  -moz-transition: all 0.85s ease-in-out;
  -o-transition: all 0.85s ease-in-out;
  transition: all 0.85s ease-in-out;
}

.price small {
    font-size: 16px;
  font-weight: 300;
  color: #929496;
}

.info-intro {
  padding: 20px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.02em;
  font-weight: 100;
  color: #012152;
  background: #ffffff;
}

.features {
  color: #929496;
  font-size: 16px;
  padding-top: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E8EAEA;
  background: #ffffff
}

.name, .info {
  color: #929496;
  font-size: 16px;
}

.features.first {
  border-top: 1px solid #E8EAEA;
}

.features.last {
  padding-top: 22px;
  padding-bottom: 24px;
  background-color: #ff5722;
}

.features.last a {
	color: #fff;
	font-size: 13px;
	letter-spacing: 1px;
}

.features.price {
  padding-top: 22px;
  padding-bottom: 24px;
  background-color: #012152;
    border: none;
    color: #fff;
}

.pricing-container .btn a {
    border-radius: 0;
}


/* ==========================================================================
   Form styles
   ========================================================================== */
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #929496;
    display: block;
    font-size: 15px;
    height: 60px;
    line-height: 1.42857;
    padding: 6px 12px;
    margin-bottom: 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    line-height: 22px;
    color: #012152;
    font-weight: 400;
}

.form-control::-moz-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-webkit-placeholder, .form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-group {
    color: #d2d2d2;
    text-align: left;
}

.test_email {
display: none;
}



/* ==========================================================================
   Mobile styles
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) { 
h1 {
  font-size: 46px;
  line-height: 50px;
}
.btn-lg {
  font-size: 12.5px;
  line-height: 1.33;
  padding: 16px 13px;
  letter-spacing: 0px;
}


.btn-wide {
  width: 100%;
  background-color: #ff5722;
  font-size: 12.5px;
  line-height: 1.33;
  padding: 16px 13px;
  letter-spacing: 0px;
}

#be-the-first { 
      background-attachment: scroll;
  }

}


/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) { 
h1 {
  font-size: 46px;
  line-height: 50px;
}

#be-the-first { 
      background-attachment: scroll;
  }

}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

#be-the-first { 
      background-attachment: scroll;
  }
  
}



/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

}
     


/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}   





